# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.hypothesis/
.coverage.cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
(link unavailable)
db.sqlite3

# Flask stuff:
instance/
.flaskenv

# Other
.DS_Store
Thumbs.db

#env files
test-repo